body {
    background-color: white;
    text-align: center;
}

#cartPage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    border: 1px solid gray;
}

#section1 {
    border: 1px solid gray;
    text-align: left;
    align-items: center;
    margin-top: 11%;
    padding: 30%;
}

#section1>p {
    font-size: 300%;
    font-weight: bold;
    /* margin: -10px; */
}

.coupon-box {
    font-size: 20px;
    padding-bottom: 20px;
    margin: 20px 0;
    border-bottom: 1px solid #cecece;
}

.coupon-box input {
    padding: 10px;
    margin-top: 5px;
}

.coupon-box button {
    padding: 10px;
    border: 1px solid black;
    background-color: rgb(240, 138, 116);
    color: white;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    margin: 10px;
    font-size: 20px;
}

.orderTotal {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    margin: 10px;
    font-size: 20px;
}

#continue-btn {
    width: 40%;
    border: 1px solid black;
    background-color: rgb(240, 138, 116);
    color: white;
    padding: 15px;
    margin: 10px;
}

@media only screen and (max-width: 480px) {
    #section1 {
        display: none;
    }
    #section2 {
        width: 150%;
        margin: 0 10%;
    }
    .coupon-box {
        font-size: 15px;
    }
    .coupon-box input {
        padding: 5px;
    }
    .coupon-box button {
        padding: 5px;
    }
    .subtotal {
        font-size: 15px;
    }
    .orderTotal {
        font-size: 15px;
    }
    #cartPage {
        border: none;
    }
}

@media only screen and (min-width:431px) and (max-width: 760px) {
    #section1 {
        /* width: 10%; */
        width: 40%;
        margin-top: 19%;
    }
    #section1>p {
        font-size: 180%;
        font-weight: bold;
    }
    .subtotal {
        font-size: 18px;
    }
    .orderTotal {
        font-size: 18px;
    }
    #cartPage {
        border: none;
    }
}

@media only screen and (min-width:761px) and (max-width: 1180px) {
    #section1 {
        margin-top: 19%;
    }
}